

<div id="basic" class='myform'>
	<h1>New list</h1>
	<% form_for(@list)  do |f| %>
	  <%= f.error_messages %>
	<fieldset>
		<legend>
			List
		</legend>
		
    	<%= f.label :name -%>

    	<%= f.text_field :name, :size => 52 -%>
    	<%= f.label :description -%>
    	<%= f.text_area :description, :cols => 50, :rows => 3 -%>
	</fieldset>
	<fieldset>
		<legend>
			List Items
		</legend>
		<div id="items">
			<%= render :partial => 'item', :collection => @list.items %>
		</div>	
		<%= add_task_link "Add List Item"%>
	</fieldset>
	    <%= f.submit 'Create' %>
	<% end %>
</div>


<%= link_to 'Back', lists_path %>